<!DOCTYPE HTML>
<html lang = "en-US"> 
<head>
	<meta charset="utf-8"/>
		<title>Duo Up!</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../css/menu.css" />
		<script src="../js/jQuery-2.1.3.js"></script>
		<script src="../js/main.js"></script>
		<link rel="shortcut icon" href="../images/logo/favicon.ico" >
		
		<script> 
		
		</script>
</head>
<body class =" horizontalMenu ">
	<div id = "wrapper">
		<header>
			<section id = "headleft">
			
			</section>
			<section id = "headmiddle" class="clickable">
			</section>
			<section id = "headright">
		
			</section>
				<div class = "clearable"></div>
			</header>
		<nav>
			<div class = "clearable"></div>
		</nav>
		<section id = "underConstruction">
			 
		</section>
		<footer id="mainFooter" class="clickable">
		
		</footer>
	</div>
</body>
</html>
